body{
    font-family: 'Source Sans 3', sans-serif;
    background-image: linear-gradient(12deg, rgba(144, 67, 238, 0.5), rgba(0,0,0,0.9));
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-color: #212529;
    color: rgba(255, 255, 255, 0.8);
}
.nav-link{
    color: rgba(255, 255, 255, 0.774);
    font-weight: bold;
    font-size: 1.15rem;
    transition-duration: 0.37s;
    padding: 0px 20px;
}
.navbar-brand{
    float: left;
    
}
.logo{
    margin: 5px;
    margin-right: 15px;
}
h1{
    text-align: center;
    margin-top: 5px;
    font-size: 2rem;
    color: #8F43EE;
    font-weight: bold;
    transition-duration: 0.37s;
}
h1:hover{
    color: #F0EB8D;
}
.nav-link:hover{
    color: #8F43EE;
}
.navbar-nav > a{
    margin: 0px 10px;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #212529;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
main{
    margin-top: 350px;
    margin-bottom: 150px;
    width: 100%;
}
#flex_div{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.main_div{
    text-align: center;
    width: 50%;
    height: 100%;
    position: relative;
}
#intro_name{
    font-size: 5rem;
    font-weight: bold;
}
#joao_span{
    color:#652fa7c4;
    transition-duration: 0.7s;
}
#front_end, #web_dev {
    color:#8F43EE;
    transition-duration: 0.5s;
    
}
#web_dev:hover, #joao_span:hover, #front_end:hover{
    color: #F0EB8D;
}
#intro{
    margin-top: 40px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9;
    line-break: loose;
    padding: 0px 10px;
}
#top_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.btn{
    margin: 25px auto;
    border: none;
    border-radius: 0;
    width: 40%;
    background-color: #8F43EE;
    color: white;
    transition-duration: 0.4s;
}
.btn:hover{
    background-color: #F0EB8D;
    color: black;
}
hr{
    position: relative;
    width: 50%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 100px;
    background-color: whitesmoke;
}
.h1_css{
    font-size: 3rem;
}
.fa-css{
    margin-right: 20px;
    color: white;
}
#about_me_div{
    margin-top: 120px;
}
#intro_about_me span{
    font-weight: bold;
}
#intro_about_me a{
    color:#8F43EE;
    font-weight: bold;
}
#intro_about_me p{
    font-size: 1.25rem;
    font-weight: 300;
}
.intro_h4{
    margin: 50px auto;
    font-size: 2rem;
    font-weight: bold;
}
#skills_icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: no-wrap;
}
#skills_icons i{
    margin-right: 100px;
}
.placeholder_img{
    width: 100%;
}
.placeholder_text{
    margin-top: 20px;
    font-size: 1.5rem;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212529;
}
footer > h1{
    font-size: 3rem;
}
#copyrights{
    padding: 15px;
    color: white;
    font-size: 1.12rem;
    text-align: justify;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
form > label{
    padding: 10px;
    font-size: 1.2rem;
}
input{
    width: 30vw;
    border: none;
}
input:focus {
    outline: none;
}
textarea{
    width: 100%;
    height: 200px;
    resize: none;
    outline: none;
}
label, textarea{
    font-family: 'Source Sans 3', sans-serif;
}
footer > h1{
    margin-top: 50px;
}
#footerHr{
    margin-top: 0;
}
@media all and (max-width: 1200px) {
    #intro_name, #intro{
        min-width: 250px;
        text-align: center;
    }
    #intro_name{
        font-size: 3rem;
    }
    #intro{
        padding: 0;
        margin: 0;
    }
    .lead > a{
        min-width: 100%;
        padding: 10px;
    }
    #top_buttons{
        display: block;
        width: 100%;
    }
    .btn{
        width: 100%;
    }
    hr{
        display: block;
        opacity: 0;
    }
    #about_me, #projects{
        margin-top: 150px;
    }
    #about_me_div, #skills{
        text-align: center;
    }
    #skills_icons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #skills_icons i{
        margin-right: 0;
    }
}
@media all and (max-width: 700px){
    main{
        margin-top: 300px;
        width: 100%;
    }
    .main_div{
        width: 100%;
    }
    #top_buttons{
        width: 50%;
        margin: 20px auto;
    }
    #intro_name, #intro, #top_buttons{
        min-width: 233px;
        text-align: center;
    }
    #intro_name{
        font-size: 3rem;
    }
    #intro{
        padding: 0;
        margin: 0;
    }
    .lead > a{
        min-width: 100%;
        padding: 10px;
    }
    .btn{
        width: 100%;
    }
    hr{
        display: block;
        opacity: 0;
    }
    #about_me_div, #skills{
        text-align: center;
    }
    #skills_icons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #skills_icons i{
        margin-right: 0;
    }
    form{
        text-align: center;
    }
    input{
        width: 100%;
    }
    textarea{
        width: 25vh;
    }
}